/* Partie de l'esthétique pour la page d'accueil, 
	celle du saint Charles Garnier et celle de l'administration 
*/

h2,h3,p{
	margin-left:30px;
}
h2, h1, p {
	font-size: 2em;
	animation: spin 1.5s linear infinite; 
}
@keyframes spin {
    0%  {transform: rotate(90deg);}
	50% {transform: rotate(480deg);}  
    100% {transform: rotate(90deg);}   
}

iframe {
	font-size: 2em;
	animation: shift 1.5s linear infinite; 
}
@keyframes shift {
    0%  {transform: translate(45, 100);}
    100% {transform: translate(0,0)}   
}

p{
	font-size: 20px;
}
img{
image-rendering: pixelated;
transform: scale(2,-3);
}
img:hover{
	blur: 50px;
	filter: blur(5px);
    transition: blur 15s linear;
	
	image-rendering: pixelated;
}
